/* NavbarM.module.css */
.navbar {
    background-color: #fffcfc; /* Light, neutral background */
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.navbarBrand {
    font-weight: 700;
    font-size: 1.4em;
    color: #4a4949;
    margin-right: auto;
}

.navLink, .navLinkLogout {
    color: #4a4949;
    margin-right: 20px;
    font-size: 1.1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 40px;
}

.navLink:hover, .navLink:focus, .navLinkLogout:hover, .navLinkLogout:focus {
    color: #ffbf69; /* Hover effect for links */
    text-decoration: underline;
}

.logo {
    height: 60px;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.05); /* Logo hover effect */
}

.userName {
    font-size: 1em; /* Slightly smaller than nav links for subtlety */
    font-weight: 600;
    color: #383838; /* Blue that complements the color scheme */
    padding: 10px 15px; /* Adequate padding for a pill-shaped appearance */
    margin-right: 5px; /* Consistent spacing with other nav items */
    transition: all 0.2s ease-in-out; /* Smooth transition for hover effects */
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.25rem 0.5rem;
    }
    .navbarBrand, .navLink, .navLinkLogout {
        font-size: 1em;
    }
    .logo {
        height: 50px;
    }
    .userName {
        font-size: 0.85em; /* Adjust for smaller screens */
        margin-right: 10px;
    }
}
